<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql:///test</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="connection.pool_size">1</property>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping class="com.yuexin.bean.AnotaionBean"/>
        <mapping resource="com/yuexin/bean/Student.hbm.xml"/>
        <mapping resource="com/yuexin/bean/Teacher.hbm.xml"/>
        <mapping resource="com/yuexin/bean/Dept.hbm.xml"/>
        <mapping resource="com/yuexin/bean/Emp.hbm.xml"/>
        <mapping resource="com/yuexin/bean/People.hbm.xml"/>
        <mapping resource="com/yuexin/bean/IdCard.hbm.xml"/>
        <mapping resource="com/yuexin/bean/EnglishPeople.hbm.xml"/>
    </session-factory>
</hibernate-configuration>