<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="service,dao"/>
    <!--<context:annotation-config/>-->

    <!-- <bean id="personDao" class="dao.PersonDao"/>
     <bean id="personService" class="service.PersonService"/>-->
    <!--<context:component-scan base-package="dao"/>-->
    <!--<bean id="personDao" class="dao.PersonDao" scope="prototype"/>-->
    <!--<bean id="personDao" class="dao.PersonDao" init-method="init" destroy-method="close"/>-->
    <!--<bean id="personDao" class="dao.PersonDao" scope="prototype"/>-->
    <!--<bean id="personDao" class="dao.PersonDao" lazy-init="true"/>-->
    <!--<bean id="personDao" class="dao.PersonDao"/>
    <bean id="personService" class="service.PersonService">
        <constructor-arg index="0" ref="personDao"/>
        <constructor-arg index="1" value="hello"/>

        &lt;!&ndash;<property name="personDao" ref="personDao"/>
        <property name="name" value="hello nihao a "/>
        <property name="sets">
            <set>
                <value>第一个</value>
                <value>第二个</value>
                <value>第三个</value>
            </set>
        </property>&ndash;&gt;

    </bean>-->
</beans>